{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Bienvenue {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}

    <h2 class="h3 mb-3 font-weight-normal">Se connecter à votre <br>Espace Personnel</h2>
    <br><label for="inputEmail">Email</label>
    <br><input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <br><label for="inputPassword">Password</label>
    <br><input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
        value="{{ csrf_token('authenticate') }}"
    >

    <br><br><button class="btn btn-lg btn-primary" type="submit">
        Connexion
    </button>
    <button class="btn btn-lg btn-primary" type="submit">
        Créer un compte
    </button>

</form>
{% endblock %}
