{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block body %}

		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}


	<div class="conteneur">
		<img src={{ '/images/img_login.png' }} width="100%">

			<div class="box-login">
				<h4 class="h4-se-connecter">Se connecter à votre
					<strong><br>Espace Personnel</h4></strong>
                    <hr>

				{# Welcome User Name message + deconnexion button #}
				{% if app.user %}
					<div class="mb-3">
						Bienvenue
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}"><br>Se déconnecter</a>
					</div>
				{% endif %}


				<div class="input-login">
					<br><label for="inputEmail">Email</label>
					<br><input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
					<br><label for="inputPassword">Password</label>
					<br><input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				</div>

				<br><br><button class="btn btn-lg btn-primary" type="submit">
					Connexion
				</button>
				<a href = "{{ path('app_register') }}"
				<button class="btn btn-lg btn-primary" type="submit">
					Créer un compte
				</button>
				</a>
			</div>


	</div>

	</form>
{% endblock %}
