{% extends "base.html.twig" %}

{% block title %}
	Cherchez, créez, notez votre entreprise
{% endblock %}

{% block body %}

	<h1>Cherchez, créez, notez votre entreprise</h1>

	<hr>
	{# NAVBAR ICI #}
	<hr>

	<div class="row row-cols-1 row-cols-md-3 g-4">

		{% for entreprise in entrepriseListe %}
			<div class="col">
				<div class="card h-100">
					<a href={{ path ('entrepriseFiche', {'id': entreprise.id} ) }}>
						<img src="{{ asset (entreprise.image) }}" class="card-img-top" alt="logo entreprise">
					</a>
					<div class="card-body">
						<h5 class="card-title">
							<b>{{ entreprise.nom }}</b>
						</h5>
						<p class="card-text">Secteur :
							<b>{{ entreprise.secteur }}</b>
							<br><a href="{{ path ('entrepriseFiche', {'id': entreprise.id} ) }}" class="btn btn-primary">En savoir plus</a>
							<a href="{{ path ('entrepriseNote', {'id': entreprise.id} ) }}" class="btn btn-primary">Donner une note</a>
					</div>
				</div>
			</div>
		{% endfor %}

	</div>

{% endblock %}
