{% extends "base.html.twig" %}

{% block body %}
	<h1>Cherchez, créez, notez votre entreprise</h1>

	<hr>
	{# NAVBAR ICI #}
	<hr>

	{% for entreprise in entrepriseListe %}
		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col">
				<div class="card h-100">
					<a href={{ path ('entreprises', {'id': entreprise.id} ) }}>
						<img src="{{ asset (entreprise.image) }}" class="card-img-top" alt="logo entreprise">
					</a>
					<div class="card-body">
						<h5 class="card-title">
							<b>{{ entreprise.nom }}</b>
						</h5>
						<p class="card-text">Secteur : <b>{{ entreprise.secteur }}</b>
							<br>
							{{ entreprise.description }}</p>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}

{% endblock %}
