{% extends "base.html.twig" %}

{% block title %}
	Noter une Entreprise
{% endblock %}

{% block body %}

	<img src="{{ asset (entreprise.image) }}" class="card-img-top" alt="logo entreprise">

    <h3><b>{{ entreprise.nom }}</h3>

	<br>Secteur : {{ entreprise.secteur }}
	<p>{{ entreprise.description }}</p>

	
    {% if entreprise.cotations is not empty %}
		Note moyenne: {{ noteMoyenne }}<br>
	
    {% else %}
        Pas de cotations.
    {% endif %}


{% endblock %}
