<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

        {# Import FontAwesome #}
        <script src="https://kit.fontawesome.com/f2a558dcb6.js" crossorigin="anonymous"></script>

	</head>
	<body>
		{# MENU NAVIGATION #}

		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{ path ("home") }}">⚫️  Who's The Boss?</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="{{ path ("entreprises") }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Entreprises
							</a>
							<ul class="dropdown-menu">
								<li>
									<a class="dropdown-item" href="{{ path ("entreprises") }}">Chercher une Entreprise</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path ("creation") }}">Créer une Entreprise</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path ("classement") }}">Classement</a>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="{{ path ('app_login') }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Espace Personnel
							</a>
							<ul class="dropdown-menu">
								{% if app.user %}
									<li class="dropdown-item"><b>{{app.user.nom}}</b></li>
									<hr>
								{% endif %}

                                

								<li>
									<a class="dropdown-item" href="{{ path ('app_login') }}">Se connecter</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path ('app_logout') }}">Se déconnecter</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('app_register') }}">Créer un compte</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</body>
	</body>
</html></nav>{% block body %}{% endblock %}</body></html>
